@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'Chosunilbo_myungjo', 'Alegreya', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans', 'sans-serif';
}
input{
    font-family: 'Chosunilbo_myungjo', 'Alegreya', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans', 'sans-serif';
}
button{
    font-family: 'Chosunilbo_myungjo', 'Alegreya', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans', 'sans-serif';
}

#pageSize {
    width: 1280px;
    margin: 0 auto;
}

#header {
    width: 100%;
    position: relative;
    z-index: 1000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    height: 203px;

    #myImg {
        height: 70px;
        display: inline-block;
        line-height: 35px;

        .myImg {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
    }

    #logoBox {
        text-align: center;
        align-items: center;

        #emptyBox {
            min-width: 5px;
            min-height: 5px;
            height: 42px;
        }

        #logo {
            max-width: 100%;
            height: auto;
            margin: 0;
            object-fit: none;
        }

        #logoTxtBox {
            height: 50px;

            #logoTxt {
                color: rgb(136, 49, 49);
                font-weight: 700;
                font-size: 14px;
            }
        }
    }

    #gnb {

        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto 0;
        padding: 0 15px;

        &.fixed {
            position: fixed;
            top: 0%;
            background-color: #fff;
            color: #333;
            height: 70px;
            border-bottom: 1px solid #ccc;
        }

        .emptyLeftBox {
            width: 273px;
            height: 70px;
        }

        .list {
            text-align: center;
            position: relative;
            display: inline-block;

            >li {
                display: inline-block;
                height: 70px;
                line-height: 70px;
                font-weight: 600;
                padding: 0 15px;
                font-size: 14px;
            }
        }

        .utilMenu {
            text-align: center;
            display: inline-block;
            width: 315px;

            >a {
                font-size: 13px;
                display: inline-block;
                height: 70px;
                line-height: 70px;
                font-weight: 300;
                margin-right: 10px;
            }
        }
    }
}

.qnaInfo {
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid rgba(128, 128, 128, 0.3);

    #infoContents {
        text-align: left;
        min-height: 200px;

        span p img {
            width: 300px;
            object-fit: contain;
        }
    }
}

#QnaWriteForm {
    display: block;
    padding-top: 90px;

    .writeHeader {
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 111200;
        padding: 17px 21px;

        .writerHeaderInner {
            display: block;
            margin: 0 auto;

            span {
                font-size: 20px;
                float: left;
                font-weight: 400;
                color: #4a4a4a;
            }

            .writeBtn {
                font-size: 12px;
                float: right;

                #cancel {
                    margin-right: 5px;
                    color: #4a4a4a;
                    background: none;
                    background-color: #fff;
                    border: 1px solid #d3d3d3;
                    border-radius: 3px;
                    padding: 6.5px 12px;
                }

                #write {
                    color: #fff;
                    background-color: #4a4a4a;
                    border: none;
                    border-radius: 5px;
                    padding: 6.5px 12px;
                }
            }
        }
    }

    .writeBox {
        max-width: 1000px;
        margin: 50px auto 30px;

        #replyForm {
            border: none;

            .textAreaBox {
                border: none;

                position: relative;

                .btnReply {
                    position: absolute;
                    bottom: 45px;
                    position: absolute;
                    right: 10px;
                    border: 1px solid #ccc;
                    padding: 5px 15px;
                    font-size: 12px;

                    &:hover {
                        color: #fff;
                        background-color: #333;
                    }
                }
            }

            #reply {
                resize: none;
                height: 100px;
                outline: none;
                border: 1px solid #ccc;
                width: 100%;
                margin: 30px 0;
            }
        }

        .boardSummary {
            border-bottom: 0;
            margin: 30px 0 0 0;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;

            .left {
                width: 100%;
                max-width: 300px;
                float: left;
                position: relative;
                z-index: 100;
                padding-bottom: 20px;

                #profileImg {
                    padding-right: 16px;

                    .profileImg {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }
                }

                #name {
                    height: 40px;
                    line-height: 40px;
                }

                >div {
                    display: inline-block;
                }
            }

            .right {
                float: right;

            }
        }

        .editorBox {
            width: 1000px;

            #subject {
                margin-top: 15px;
                width: 100%;
                display: block;
                font-size: 20px;
                border: none;
                border-bottom: 1px solid rgba(128, 128, 128, 0.3);
                border-radius: 0;
                padding: 8px 10px 30px 10px;
                line-height: 1.2;
                outline: none;
            }

            #infoContents {
                text-align: left;
                border-bottom: 1px solid #ddd;
                margin-bottom: 30px;

                img {
                    max-width: 300px;
                }

                p {
                    margin: 20px;
                }
            }

            .replyListBox {
                margin: 30px 0;
            }

            .note-editor {
                padding-top: 20px;
                outline: none;
                border: none;
            }
        }

    }

}

.editLink {
    text-align: right;
    font-size: 12px;

    >a {
        &:hover {
            color: #fff;
            background-color: #333;
        }

        border: 1px solid #ccc;
        color: #333;
        padding: 10px 20px;
    }
}

#manageBody {
    width: 100%;

    #managergnb {
        display: block;
        text-align: center;

        .list {
            display: flex;
            justify-content: center;

            >li {
                padding: 20px;
                display: inline-block;
                font-weight: 600;

                >a {
                    color: #111;
                }
            }
        }
        #admin{
            top: 150px;
            position: absolute;
            right: 20px;
            font-size: 13px;
            padding: 5px 10px;
            border-radius: 30px;
            background-color: #4f4f4f;
            color: #fff;
            &:hover{
                color: #4f4f4f;
                background-color: #fff;
                border: 1px solid #ccc; 
            }
        }
    }
}

#allQnaList {
    align-items: center;
    text-align: center;

    >div {
        width: 800px;
        height: 400px;
        border: 1px solid #ccc;
        margin: 0 auto;
        border-radius: 3px;

        >a {
            line-height: 400px;
        }
    }
}

#footer {
    padding-top: 250px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 30px;

    .container div {
        margin: 0 !important;
    }

    .social {
        padding: 20px 0;

        div {
            display: inline;
            padding: 0px 12px;

            a {
                font-size: 23px;

                img {
                    width: 21x;
                    height: 20px;
                }

                svg {
                    width: 21px;
                    height: 20px;
                }

                i {
                    width: 21px;
                    height: 20px;
                }
            }
        }
    }

    strong {
        font-weight: 700;
        padding-bottom: 10px;
    }

    p {
        padding-bottom: 10px;
    }

    .link {
        a {
            font-size: 12px;
            padding: 3px 7.5px;
        }
    }
}

.formBox {

    display: block;
    text-align: center;
    align-items: center;

    h2 {
        text-align: center;
        padding: 50px 0;
    }

    .userInfo {
        width: 600px;
        margin: 0 auto;
        text-align: left;
    }

    .profileImgBox {
        .profileImg {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }

    .userList {
        .profileImg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        td {
            font-size: 12px;
        }
    }

    thead {
        border-bottom: 1px solid #ccc;
        height: 30px;
        line-height: 30px;
    }

    tr {
        line-height: 30px;
    }

    .pagination {
        padding-top: 20px;
    }

}

#review {
    padding-top: 80px;
    font-size: 12spx;
    width: 1280px;
    margin: 0 auto;

    h2 {
        padding-bottom: 20px;
    }

    p {

        color: rgba(79, 79, 79, 0.7);
        margin-bottom: 20px;
    }

    .reviewBtn {
        margin-bottom: 24px;

        .writeBtn {
            background-color: #ffffff;
            color: #4f4f4f;
            font-size: 12px;
            border: 1px solid #ddd;

            padding: 10px 20px;
        }
    }

    .reviewWrap {
        text-align: center;

        th {
            padding: 10px 0;

        }

        .qnaList {
            border-top: 1px solid rgba(79, 79, 79, 0.7);
            border-bottom: 1px solid rgba(79, 79, 79, 0.7);

            td {
                font-size: 13px;
                padding: 10px 0;

            }

            #subject {
                text-align: left;
            }
        }

    }
}

#qna {
    padding-top: 80px;
    font-size: 12spx;

    h2 {
        padding-bottom: 15px;
        font-weight: 700;
    }

    p {

        color: rgba(79, 79, 79, 0.7);
        margin-bottom: 20px;
    }

    .qnaBtn {
        margin-bottom: 24px;

        >p {
            font-size: 13px;
            margin-bottom: 8px !important;
        }

        input {
            background-color: #ffffff;
            color: #4f4f4f;
            font-size: 12px;
            border: 1px solid #ddd;
            border-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            padding: 10px 20px;
        }

    }

    .qnaWrap {
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: #4f4f4f;
        text-align: center;

        th {
            padding: 10px 0;

        }

        .qnaList {
            border-top: 1px solid rgba(79, 79, 79, 0.7);
            border-bottom: 1px solid rgba(79, 79, 79, 0.7);

            tr {
                border-bottom: 1px solid #f0f0f0;
            }

            td {
                font-size: 13px;
                padding: 10px 0;

            }

            #subject {
                text-align: left;
                cursor: pointer;
            }
        }

    }
}

#productList {
    .productWrap {
        text-align: center;

        li {
            display: flex;

            .productImg {
                width: 300px;
                height: 450px;
            }
        }
    }
}

#productInfo {
    li {
        display: inline-block;

        .productImg {
            width: 600px;
            height: 900px;
        }
    }

}

#myModal {
    #modalForm {
        position: relative;

        .top {
            margin: auto 0;

            padding: 24px;
            height: 36px;
            position: relative;

            #infoProfileImg {
                position: absolute;
                top: 24px;
                display: inline-block;
                width: 46px;

                .infoProfileImg {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                }
            }

            #topTxt {

                position: absolute;
                display: inline-block;
                left: 70px;

                #infoSubject {
                    display: block;
                    font-size: 15px;
                    font-weight: 500;
                }

                >div {
                    display: inline-block;
                }

                #topSub {
                    font-size: 13px;
                    color: #757575;
                }
            }
        }

        .contents {

            padding: 24px;
            border-bottom: 1px solid #e5e5e5;

            #contents {
                margin: 0;
            }

            >p {
                margin: 20px 0 40px;
            }
        }

        .replyList {
            font-size: 13px;
            line-height: 13px;

            .btnDelete {
                font-size: 13px;
            }
        }

        #replyForm {
            box-sizing: border-box;
            height: 170px;
            position: relative;
            border: 1px solid rgba(128, 128, 128, 0.2);
            border-radius: 3px;

            .textAreaBox {
                box-sizing: border-box;
                max-width: 800px;
                min-height: 62px;
                padding: 16px;

                >textarea {
                    padding: 0;
                    width: calc(100% - 24px);
                    border: none;
                    outline: none;
                    height: calc(170px - 80px);
                }

                .btnReply {
                    cursor: pointer;
                    border: 1px solid rgba(128, 128, 128, 0.2);
                    padding: 6px 20px;
                    align-items: right;
                    font-size: 12px;
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                }
            }


        }

        #editDelete {
            text-align: right;
            margin-top: 10px;

            a {
                font-size: 10px;
                margin-right: 5px;
            }
        }

        .closeModal {
            position: absolute;
            font-size: 13px;
            top: 20px;
            right: 20px;
        }
    }
}

#myPage {
    background-color: #f5f6f7;

    .myPage {
        max-width: 1280px;
        margin: 0 auto;

        .myBox {

            .boxMargin {
                display: flex;
            }

            .myPageList {
                width: 16.66666667%;
                text-align: left;
                margin: 0;

                ul {
                    margin-top: 100px;

                    li {
                        margin-bottom: 20px;
                        font-size: 14px;

                        a {
                            padding-bottom: 5px;
                        }

                        &.on {
                            a {
                                border-bottom: 2px solid #333;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }


            }

            #rightbody {
                width: 83.33333333%;

                .subbody {
                    width: 90%;
                    padding: 50px 0 50px 45px;
                    margin-bottom: 70px;
                    background: #fff;
                    margin-top: 100px;
                    display: table;

                    .fullbody {
                        width: 100% !important;

                    }

                    img {
                        width: 85px;
                        height: 85px;
                        border-radius: 50%;
                        margin-right: 30px;
                    }
                }

                .leftSub {
                    display: table-cell;
                    vertical-align: middle;



                }

                .leftContents {
                    display: table-cell;
                    vertical-align: middle;
                    margin-left: 50px;
                    width: 40%;

                    span {
                        font-size: 22px;
                    }

                    p {
                        font-size: 15px;
                    }
                }

                .rightSub {
                    width: 25%;
                    display: table-cell;
                    vertical-align: middle;

                    a {
                        margin-bottom: 5px;
                    }

                    p {
                        font-weight: bold;
                        font-size: 32px;
                    }
                }
            }

            .rightTxt {
                min-height: 300px;
                
                .null{
                    padding: 70px 0;
                    color: rgba(33,33,33,0.4);
                    text-align: center;
                }
                #wishCountBox{
                    display: flex;
                    #wishCount{
                        margin-left: 5px;
                        width:20px;
                        height: 20px;
                        background-color: #4f4f4f;
                        color:#fff;
                        border-radius: 100px;
                        text-align: center;
                    }
                }
                #imgBox{
                    position: relative;
                    width:240px;
                   
                    
                    >p {
                        color: rgba(33, 33, 33, 0.4);
                        font-size: 15px;
                        padding: 70px 0 150px;
                        text-align: center;
                        font-size: 14px;
                    }
                    #imgHover{
                        #icons{
                            position: absolute;
                            border-radius:100%;
                            color:#fff;
                            z-index:9999;
                            right: 10px;
                            top:10px;
                            cursor: pointer;
                            opacity: 0;
                        }
                        &:hover{
                            #icons{
                                opacity: 1;
                            }
                            img{
                                filter: brightness(50%);
                            }
                        }
                        img {
                            width: 240px;
                            height: 240px;                 
                           
                        }
                    }
                }
            }
        }
    }

    .qnaBox {
        max-width: 1280px;
        margin: 0 auto;

        .empty {
            width: 16.666666%;
        }

        .qna {
            span {
                padding-bottom: 20px;
            }
            .qnaBoardTitle{
                border-bottom: 1px solid rgba(128, 128, 128, 0.2);
                padding-bottom: 20px;
                margin-bottom: 0;
                margin-right: 65px;
            }
            #qnaCount{
                display: inline-block;
                margin-left: 5px;
                width: 20px;
                height: 0px;
                background-color: #4f4f4f;
                color: #fff;
                border-radius: 100px;
                text-align: center;
            }
            p {
                padding-bottom: 20px;
            }
        }

        .qnaWrap {


            margin-bottom: 100px;
            position: relative;
            font-size: 14px;

            table {
                margin-bottom: 15px;

                thead {
                    height: 30px;
                    line-height: 30px;
                    border-bottom: 0.5px solid #ccc;
                }

                tbody {
                    padding-top: 10px;

                    tr {
                        height: 30px;
                        margin-bottom: 5px;
                        line-height: 30px;

                        td {
                            text-align: center;
                        }

                        .subject {
                            text-align: left;
                            padding-left: 50px;
                        }
                    }

                }
            }

            .empty {
                height: 50px;
            }

            .qnaWrite {
                position: absolute;
                right: 66px;

                a {
                    &:hover {
                        color: #fff;
                        background-color: #333;
                    }

                    font-size: 12px;
                    padding:6px 20px;
                    background-color: #fff;
                    color: #333;
                    border:1px solid #efefef;
                }
            }
        }

    }
}

.productQnaList {
    td {
        font-size: 14px;
    }
}

.note-editable {
    >p {
        >img {
            width: 300px;
            object-fit: contain;
        }
    }
}

#mainAdmin{
    min-height: 200px;
    text-align: center;
    padding-top: 70px;
    p{
        font-size: 43px;
        padding: 15px;
    }
}
#paymentNoListBox{
    text-align: left;
}
.qnaInfo .replyList {
    font-size: 14px;
    li{
        line-height: 23px;
    }
    .btnReplyDelete{
        font-size: 12px;
    }
}
#bg{
    background-color: #efefef;
}
#unuser_paymentInfo{
    display: block;
    line-height: 1.5;
    color:#212121;
    font-size: 14px;
    min-height: 890px;
    padding-top: 50px;
    max-width: 1000px;
    margin: 0 auto;
    .unuser_title{
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 50px;
    }
        #underLine{
            border-bottom: 1px solid #2121;
            margin:15px 0 30px;
        }
        h2{
        
            display: flex;
            margin-bottom: 3px;
            .arrowBack{
                width:18px;
                height: 18px;
            }
            .paymentNoTitle{
                margin-left: 18px;
                font-size: 18px;
            }
            .paymentNoText{
                margin-left: 10px;
                color:#4f4f4f;
                font-size: 18px;
            }
        }
        h3{
            font-size:16px;
            font-weight: 600;
            padding-bottom: 30px;
        }
        li {
            > p {
            font-size: 14px;
            color:#999;
            margin-bottom: 10px;
            margin-top: 20px;
            }
            > span {
                font-size:14px;
                color:#212121;
                margin-bottom: 10px;
            }
            .allPrice{
                font-size: 16px;
                font-weight: 700;
                color:#474747;
            }
        }
        
        #paymentInfoL{
            float:left;
            width:45%;
           
            #paymentInfoL1{
                padding:30px;
                background-color: #fff;
                margin-bottom: 30px;
            }
            #paymentInfoL2{
                padding:30px;
                background-color: #fff;
                margin-bottom: 30px;
            }
        }
        #paymentInfoR{
            float:right;
            width:45%;
            background-color: #fff;
            padding:30px;
            margin-bottom: 30px;
            > ul >li{
                display: flex;
                justify-content: space-between;
            }
            #imgBox{
                display: flex;
                height: 74px;
                margin-bottom: 15px;
                #pdtImg{
                    width:58px;
                    height: 58px;
                }
                #imgTextBox{
                    display:flex;
                    flex-direction: column;
                    margin-left: 10px;
                    font-size: 13px;
                    color:#757575;
                    .pdtName{
                        font-size: 14px;
                        color:#212121;
                        font-weight: 700;
                    
                }
            }
        }
    }
}