#shopCart {
  font-size: 14px;
  color: #212121;
}

#shopCart #title {
  text-align: left;
  margin: 40px 0 30px;
  position: relative;
  font-size: 24px;
  font-weight: normal;
}

#shopCart #title input[type=checkbox] {
  width: 16px;
  height: 16px;
}

#shopCart #title .countBox {
  width: 20px;
  position: absolute;
}

#shopCart #title .countBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#shopCart #title .countBox .count {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  border-radius: 100px;
  background-color: #4f4f4f;
  color: #fff;
}

#tooltipBtn {
  cursor: pointer;
}

#tooltipBtn #question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 100;
  font-size: 16px;
  margin-top: 3px;
  padding: 0 10px;
}

#shopCart {
  padding: 0 15px;
}

#shopCart #shopCartBody {
  width: 1280px;
}

#shopCart #shopCartBody table {
  table-layout: auto;
  width: 100%;
}

#shopCart #shopCartBody table tr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shopCart #shopCartBody table #pctThead {
  padding: 10px 0 20px;
}

#shopCart #shopCartBody table #pctThead tr {
  table-layout: auto;
  height: 30px;
}

#shopCart #shopCartBody table #pctThead tr th {
  color: #757575;
  text-align: center;
  padding: 15px 8px 0;
}

#shopCart #shopCartBody table #pctThead tr #itemTh {
  text-align: left;
}

#shopCart #shopCartBody table #pctThead tr #priceTh {
  text-align: right;
}

#shopCart #shopCartBody table #pctThead tr #allCheckBox {
  padding-left: 0;
}

#shopCart #shopCartBody table #pctTbody {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#shopCart #shopCartBody table #pctTbody #cartList {
  table-layout: auto;
  /*  th{

                    } */
}

#shopCart #shopCartBody table #pctTbody #cartList td {
  vertical-align: middle;
  padding: 15px 8px;
}

#shopCart #shopCartBody table #pctTbody #cartList #oneCheckBox {
  padding-left: 0;
}

#shopCart #shopCartBody table #pctTbody #itemBox {
  padding: 15px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shopCart #shopCartBody table #pctTbody #itemBox #pdtTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

#shopCart #shopCartBody table #pctTbody #itemBox #pdtTextBox #pdtText01 {
  font-size: 14px;
  color: #4f4f4f;
}

#shopCart #shopCartBody table #pctTbody #itemBox #pdtTextBox #pdtText02 {
  font-size: 14px;
  color: #4A4A4A;
  padding-top: 10px;
}

#shopCart #shopCartBody table #pctTbody #itemBox #pctImg {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

#shopCart #shopCartBody table #pctTbody #deliveryMethodBox select {
  width: 100px;
  padding: .8em 1em;
  border: 1px solid #999;
  font-family: inherit;
  background: url("../images/down_arrow.jpg") no-repeat 98% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#shopCart #shopCartBody table #pctTbody #deliveryMethodBox select::-ms-expand {
  display: none;
}

#shopCart #shopCartBody table #pctTbody #wishBox > div > div > input[type=image] {
  width: 20px;
}

#shopCart #shopCartBody table #pctTbody #amountBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shopCart #shopCartBody table #pctTbody #amountBox button {
  width: 22px;
  height: 43px;
  font-size: 16px;
  border: 1px solid #4f4f4f;
  padding: 5px;
}

#shopCart #shopCartBody table #pctTbody #amountBox input {
  width: 30px;
  height: 31px;
  padding: 5px;
  border: 1px solid #4f4f4f;
  border-left: 0;
  border-right: 0;
  text-align: center;
}

#shopCart #shopCartBody table #pctTbody #orderPctBtn,
#shopCart #shopCartBody table #pctTbody #deletePctBtn {
  padding: 5px;
  border: 1px solid rgba(151, 151, 151, 0.616);
  border-radius: 100px;
  cursor: pointer;
}

#shopCart #shopCartBody table #pctTbody #orderPctBtn:hover,
#shopCart #shopCartBody table #pctTbody #deletePctBtn:hover {
  border: 1px solid #111;
}

#shopCart #shopCartBody table #pctTbody #priceTd {
  text-align: right;
}

#shopCart #shopCartBody table #blackTbody tr {
  table-layout: auto;
  height: 40px;
}

#shopCart #shopCartBody table #totalTbody {
  text-align: right;
  table-layout: auto;
  margin-top: 100px;
}

#shopCart #shopCartBody table #totalTbody tr {
  table-layout: auto;
  height: 30px;
}

#shopCart #shopCartBody table #totalTbody #totalPriceTr {
  table-layout: auto;
  height: 50px;
  line-height: 50px;
}

#shopCart #shopCartBody table #totalTbody #totalPriceTr #btns {
  text-align: start;
}

#shopCart #shopCartBody table #totalTbody #totalPriceTr #btns button {
  font-size: 13px;
  padding: 6px 10px;
  border: 1px solid #999;
  border-radius: 100px;
  color: #757575;
}

#shopCart #shopCartBody table #totalTbody #totalPriceTr #btns button:hover {
  border: 1px solid #474747;
}

#shopCart #shopCartBody table #totalTbody #totalPriceTr td span {
  font-size: 20px;
  font-weight: 600;
}

#shopCart #shopCartBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#shopCart #shopCartBtns a {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #4f4f4f;
}

#shopCart #shopCartBtns #keepShopping:hover {
  border: 1px solid #111;
}

#shopCart #shopCartBtns #OrderAllBtn {
  background-color: #4f4f4f;
  color: #fff;
  padding: 0 36px;
}

#shopCart #shopCartBtns #OrderAllBtn:hover {
  background-color: #111;
}

#shopCart #noCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
  margin: 100px auto;
}

#shopCart #noCart img {
  -webkit-filter: opacity(0.3) drop-shadow(0 0 0 #ccc);
  filter: opacity(0.3) drop-shadow(0 0 0 #ccc);
  margin-bottom: 10px;
}

#shopCart #tooltip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-transform: translatex(-60px) translatey(-136px);
          transform: translatex(-60px) translatey(-136px);
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  color: #333;
  padding: 9px 12px;
  border-radius: 4px;
  font-size: 14px;
  visibility: hidden;
  z-index: 999999;
}

#shopCart #tooltip #tooltip01 #tooltip0101 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
}

#shopCart #tooltip #tooltip01 #tooltip0102 {
  padding: 8px 0;
  font-weight: 700;
  color: #777;
}

#shopCart #tooltip #tooltipLine {
  width: 100%;
}

#shopCart #tooltip #tooltip02 {
  margin-bottom: 10px;
  padding: 8px;
}

#shopCart #arrow,
#shopCart #arrow::before {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: translateX(97px) translateY(119px);
          transform: translateX(97px) translateY(119px);
  background: inherit;
}

#shopCart #arrow {
  width: 0;
}

#shopCart #arrow {
  visibility: inherit;
}

#shopCart #arrow::before {
  visibility: inherit;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#shopCart #tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#shopCart #tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#shopCart #tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#shopCart #tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

#placeAnOrder #orderHeader {
  margin: 60px 0;
}

#placeAnOrder #orderHeader h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

#placeAnOrder #allBody {
  width: 100%;
  height: 1200px;
  margin-left: 200px;
}

#placeAnOrder #allBody h3 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}

#placeAnOrder #allBody input,
#placeAnOrder #allBody select {
  border: 1px solid #ccc;
}

#placeAnOrder #allBody input[type="text"],
#placeAnOrder #allBody input[type="email"] {
  height: 20px;
  font-size: 14px;
  padding: 6px 12px;
  margin: 5px;
}

#placeAnOrder #allBody select {
  height: 40px;
  font-size: 14px;
  padding: 6px 11px;
  margin: 5px 5px 5px 0;
}

#placeAnOrder #allBody .input1 {
  width: calc(50% - 45px);
}

#placeAnOrder #allBody .input2 {
  width: 470px;
}

#placeAnOrder #allBody #input3 {
  margin-left: 0;
}

#placeAnOrder #allBody #findAddress {
  width: 110px;
  height: 35px;
  border: 1px solid #ccc;
}

#placeAnOrder #allBody #leftBody {
  width: 520px;
  float: left;
}

#placeAnOrder #allBody #leftBody select {
  width: 96%;
}

#placeAnOrder #allBody #leftBody > div {
  margin-bottom: 40px;
}

#placeAnOrder #allBody #leftBody #dMemoBox {
  margin: 30px 0 50px;
}

#placeAnOrder #allBody #leftBody #reservesBox h3 {
  font-size: 16px;
}

#placeAnOrder #allBody #leftBody #reservesBox #reserves {
  margin: 10px 0;
  font-size: 14px;
}

#placeAnOrder #allBody #leftBody #reservesBox #reserves p {
  font-size: 13px;
  margin-bottom: 5px;
}

#placeAnOrder #allBody #leftBody #reservesBox #reserves input {
  width: 69%;
  margin: 5px 0 10px;
}

#placeAnOrder #allBody #leftBody #reservesBox #reserves #allUsing {
  text-decoration: none;
  font-size: 11px;
  padding: 11px 33px;
  background-color: #fff;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
}

#placeAnOrder #allBody #leftBody #reservesBox #reserves #allUsing:hover {
  background-color: #353535;
  color: #fff;
  border: 1px solid #353535;
  cursor: pointer;
}

#placeAnOrder #allBody #rightBody {
  width: 56%;
  float: right;
}

#placeAnOrder #allBody #rightBody #rBody {
  width: 315px;
  display: inline-block;
  height: 1200px;
}

#placeAnOrder #allBody #rightBody #rBody #sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  right: 270px;
}

#placeAnOrder #allBody #rightBody #rBody #sticky > div {
  margin-bottom: 30px;
}

#placeAnOrder #allBody #rightBody #paymentMethod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

#placeAnOrder #allBody #rightBody #paymentMethod label {
  margin: 10px 0;
}

#placeAnOrder #allBody #rightBody #cashReceiptsRequest {
  margin-top: 16px;
  padding-top: 16px;
}

#placeAnOrder #allBody #rightBody #cashBoxOn {
  margin-top: 20px 0 10px;
}

#placeAnOrder #allBody #rightBody #cashBoxOn #cashOnBox {
  margin-top: 20px;
}

#placeAnOrder #allBody #rightBody #cashBoxOn #cashOnBox #cashOn {
  margin: 10px 0;
}

#placeAnOrder #allBody #rightBody #agreeBox {
  font-size: 14px;
}

#placeAnOrder #allBody #rightBody #agreeBox #allAgree {
  display: block;
  margin-bottom: 5px;
}

#placeAnOrder #allBody #rightBody #agreeBox #agreeBefore {
  display: inline-block;
  -webkit-transform: translateX(6px) translateY(-2px);
          transform: translateX(6px) translateY(-2px);
  color: #ccc;
}

#placeAnOrder #allBody #rightBody #totalPriceBox {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 40px;
}

#placeAnOrder #allBody #rightBody #totalPriceBox #val {
  color: #20252b;
  font-weight: 500;
}

#placeAnOrder #allBody #rightBody #totalPriceBox .TPB {
  font-size: 14px;
  color: #999;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#placeAnOrder #allBody #rightBody #totalPriceBox #TPBTotal {
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  color: #4f4f4f;
  margin: 20px 0;
}

#placeAnOrder #allBody #rightBody #totalPriceBox #TPBTotal #totalVal {
  color: #20252b;
  font-size: 16px;
  font-weight: 900;
}

#placeAnOrder #allBody #rightBody #totalPriceBox #TPBReserves {
  font-size: 13px;
  padding-top: 20px;
  color: #4f4f4f;
}

#placeAnOrder #allBody #rightBody #paymentBtn {
  margin-top: 30px;
}

#placeAnOrder #allBody #rightBody #paymentBtn #paymentSubmit {
  width: 100%;
  height: 40px;
  border: 1px solid #4f4f4f;
  background-color: #4f4f4f;
  color: #fff;
}

#placeAnOrder #allBody #rightBody #paymentBtn #paymentSubmit:hover {
  border: 1px solid #111;
  background-color: #111;
}

#placeAnOrder #allBody #rightBody #agreeBox {
  margin-top: 60px;
}

#placeAnOrder #allBody #rightBody #agreeBox #allAgree {
  margin-bottom: 10px;
}

#placeAnOrder #allBody #pctBoxBox {
  margin-bottom: 20px;
}

#placeAnOrder #allBody #pctBoxBox #pctBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

#placeAnOrder #allBody #pctBoxBox #pctBox img {
  display: block;
  background-color: #f00;
  width: 90px;
  height: 90px;
}

#placeAnOrder #allBody #pctBoxBox #pctBox #pct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 5px 0 0 10px;
}

#placeAnOrder #allBody #pctBoxBox #pctBox #pct p {
  margin-bottom: 5px;
}

#placeAnOrder #allBody #pctBoxBox #pctBox #pct .name {
  font-size: 16px;
  font-weight: 500;
}

#placeAnOrder #allBody #pctBoxBox #pctBox #pct .option {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}

#placeAnOrder #allBody #pctBoxBox #pctBox #pct .price {
  font-size: 15px;
  font-weight: 600;
}

#paymentBoxBoxBox #paymentBoxBox {
  width: 100%;
  margin: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  background-color: #dfdfdf;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox {
  text-align: center;
  width: 500px;
  margin: 40px auto;
  padding: 50px 20px 100px;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentHeader {
  line-height: 1.2;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentHeader h3 {
  margin: 0 0 20px;
  font-size: 36px;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentHeader p {
  font-size: 24px;
  margin-bottom: 50px;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody {
  background: #fff;
  line-height: 1.5;
  padding-top: 20px;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody table {
  width: 100%;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody #paymentTr01 {
  padding-bottom: 40px;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody #paymentTr {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody #paymentTh {
  color: #4f4f4f;
  font-size: 18px;
  padding: 20px 40px;
  text-align: left;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody #paymentTd01 {
  font-size: 16px;
  text-align: left;
  padding: 20px 100px 40px 20px;
  color: #313131;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody #paymentTd01 #paymentPrice {
  font-size: 17px;
  font-weight: 700;
  color: #333;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody #paymentTd {
  font-size: 16px;
  text-align: left;
  padding: 20px 100px 20px 20px;
  color: #313131;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentBody #paymentTd #paymentPrice {
  font-size: 17px;
  font-weight: 700;
  color: #333;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentFooter {
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  background-color: #4f4f4f;
  color: #fff;
  padding: 15px 0;
}

#paymentBoxBoxBox #paymentBoxBox #paymentBox #paymentFooter a {
  display: block;
}

#paymentBoxBoxBox #footer {
  padding-top: 20px;
}

#cartWishList #wishListBox h2 {
  font-size: 18px;
  padding: 50px 0;
}

#cartWishList #wishListBox h2 a {
  font-size: 13px;
  margin: -6px 0 0 10px;
  padding: 6px 10px;
  border: 1px solid #757575;
  border-radius: 100px;
}

#cartWishList #wishListBox ul li #imgBox {
  position: relative;
  width: 240px;
}

#cartWishList #wishListBox ul li #imgBox #imgHover #icons {
  position: absolute;
  border-radius: 100%;
  color: #fff;
  z-index: 9999;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0;
}

#cartWishList #wishListBox ul li #imgBox #imgHover:hover #icons {
  opacity: 1;
}

#cartWishList #wishListBox ul li #imgBox #imgHover:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
